body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }

        h1 {
            color: #333;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        .towers {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin-top: 50px;
            height: 400px;
        }

        .tower {
            width: 30%;
            height: 350px;
            position: relative;
            border-bottom: 10px solid #ee5353;
        }

        /* Vertical rod */
        .tower::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 300px;
            background-color: #df551e;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .tower h2 {
            position: absolute;
            bottom: -60px;
            background-color: #2ecc71;
            width: 100%;
        }

        .disk {
            position: absolute;
            height: 35px;
            border-radius: 8px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            text-align: center;
            color: white;
            font-weight: bold;
            line-height: 35px;
        }

        .disk1 {
            width: 70px;
            background-color: #e74c3c;
        }

        .disk2 {
            width: 100px;
            background-color: #3498db;
        }

        .disk3 {
            width: 130px;
            background-color: #2ecc71;
        }

        .disk4 {
            width: 160px;
            background-color: #f39c12;
        }

        .disk5 {
            width: 190px;
            background-color: #9b59b6;
        }
        .disk6 {
            width: 220px;
            background-color: #3d0055;
        }
        .disk7 {
            width: 250px;
            background-color: #550000;
        }

        #message {
            margin-top: 80px;
            font-size: 18px;
            font-weight: bold;
            color: #444;
        }